.menu_group
{
    margin-bottom: 20px;
}

.menu_button
{
    display: block;
    margin: 0 0 10px;
    width: 100%;
}

.menu_control
{
    line-height: 22px;
}

.menu_control_input
{
    float: right;
    margin: 0;
}

.menu_control_input-number
{
    width: 40px;
}
