@-webkit-keyframes loading
{
    to
    {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes loading
{
    to
    {
        -moz-transform: rotate(360deg);
    }
}

@-ms-keyframes loading
{
    to
    {
        -ms-transform: rotate(360deg);
    }
}

@keyframes loading
{
    to
    {
        transform: rotate(360deg);
    }
}

.state
{
    margin: 10px 0 5px;
}

.state_indicator
{
    display: block;
    width: 20px;
    height: 20px;
    border: 2px solid;
    float: left;
    background: transparent;
    border-radius: 50%;
}

.state_indicator-loading
{
    border-color: #000 #777 #777 #000;
    -moz-animation: loading 1s infinite linear;
    -ms-animation: loading 1s infinite linear;
    -webkit-animation: loading 1s infinite linear;
    animation: loading 1s infinite linear;
}

.state_indicator-complete
{
    border-color: #02C261;
}

.state_message
{
    line-height: 24px;
    display: inline-block;
    margin: 0 0 0 12px;
}
