.menu
{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 0 15px;
    padding: 15px;
    width: 250px;
    border-radius: 5px;
    background: #f0f0e7;
    color: #999;
    text-align: left;
    font-size: 13px;
}

.menu_group:not(:last-of-type)
{
    margin: 0 0 15px;
}

.menu_button
{
    display: block;
    margin: 0 0 10px;
    width: 100%;
}

.menu_control
{
    line-height: 22px;
}

.menu_control_input
{
    float: right;
    margin: 0;
}

.menu_control_input-number
{
    width: 40px;
}

.menu_control_storage-info
{
    float: right;
    color: #666;
    font-weight: 700;
}
